@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,300,400,500i,600i,700,800,900');

/*Alinhamento de Texto*/
#txt1{ 
    text-align: left
}

#txt2{ 
    text-align: center
}

#txt3{ 
    text-align: right
}

#txt4{ 
    text-align: justify;
    color:violet;
}

/*Decoração de Texto*/
#txt5{
    color: blueviolet;
    text-decoration: none;
}


#txt6{
    text-decoration: underline
}

#txt7{
    text-decoration: overline
}

#txt8{
    text-decoration: line-through
}

#txt9{
    text-transform: uppercase
}

#txt10{
    text-transform: lowercase
}
#txt11{
    text-transform: capitalize
}
/*Transformação de Texto*/

/*Identação de Texto*/
#txt12{
    text-indent: 100px
}

/*Espaçamento de Texto*/
#txt13{
    letter-spacing: 20px
}

#txt14{
    word-spacing: 20px 
}

#txt15{
    line-height: 40px
}
/*Fontes*/
#txt16{
font-family: Verdana, Geneva, Tahoma, sans-serif
}

#txt17{
    font-family: Georgia, 'Times New Roman', Times, serif
}
#txt18{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    font-style: italic;
}


