/*forma gambiarra de retirar o padrão do navegador de padding e margin*/

*{
    margin: 0;
    padding: 0;
}

ul{
    width: 100px;
    background-color:#dddddd;

}


li {
    list-style: none;
    width: 100%;
    text-align: center;
}

li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
    display: block;
    box-sizing: border-box; /*subtração no valor total diante das medidas impostas padding e border*/
}

li a:hover{
    background-color: black;
    color:white; 

}